In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge
plt.style.use('dark_background')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [41]:
df=pd.read_csv("Auto.csv")
df
df1=df[["mpg","displacement","weight","year"]]
df1

      mpg  displacement  weight  year
0    18.0         307.0    3504    70
1    15.0         350.0    3693    70
2    18.0         318.0    3436    70
3    16.0         304.0    3433    70
4    17.0         302.0    3449    70
..    ...           ...     ...   ...
392  27.0         140.0    2790    82
393  44.0          97.0    2130    82
394  32.0         135.0    2295    82
395  28.0         120.0    2625    82
396  31.0         119.0    2720    82

[397 rows x 4 columns]

In [42]:
reg=LinearRegression()
reg.fit(df1[['mpg','displacement','weight']],df1.year)

LinearRegression()

In [44]:
reg.coef_

array([ 0.47978657, -0.0146693 ,  0.00402821])

In [46]:
reg.intercept_

55.58651619125457

In [52]:
reg.predict([[16,215,50000]])

array([261.51967933])